{{> menu}}

<form class="box"  action="/surfspot/{{collection._id}}/updatesurfspot/{{surfspot._id}}" method="POST">
  <label>Update Surfspot Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" name="name", value="{{surfspot.namoe}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="latitude" value="{{surfspot.latitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="longitude" value="{{surfspot.longitude}}">
      </div>
      <div class="field">
        <input class="input" type="text"  name="typeOfWave" value="{{surfspot.typeOfWave}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update Surfspot</button>
</form>
