<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name of Surf Spot</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Type Of Wave</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.surfspots}}
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{latitude}}
        </td>
        <td>
          {{longitude}}
        </td>
        <td>
          {{typeOfWave}}
        </td>
        <td>
          <a href="/surfspot/{{../collection._id}}/editsurfspot/{{_id}}" class="ui icon button">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/collection/{{../collection._id}}/deletesurfspot/{{_id}}" class="ui icon button">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>